.form-control {
 	width:70%;
 }
.btn .btn-default{
 	width:100%;
 }
.mybtn{
 	z-index:1000;
 	position:relative;
 	width:66%;
 	top:90%;
 	left:12%;
 	height:7%;
 	margin-bottom:20px;
 }
 #header{
 	font-size:1em;
 }
 table#tablestockin{
 	margin-left:5%;
 	width:85%;
 }
 table#tablestockin tr td pre{
 	margin:0%;
     width:75%;
    margin-left:0%;
    font-size:1em;
 	border:1px solid #ccc;
 	cursor:pointer;
 	padding-top:4px;
 	padding-bottom:3px;
      margin-right:2%;
 }
.inputbtn{
	width:80%;
	margin-left: 10%;
	text-align:center;
	cursor: pointer;
}
.inputbtn pre:hover{
    border:1px solid #ccc;
    color:#343434;
}
